@model Vigus.Web.Data.DriverVersion

@{
    ViewData["Title"] = "- DriverVersions";
}

<h1>Details</h1>

<div>
    <h4>DriverVersion</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KnownIssues)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KnownIssues)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedChanges)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedChanges)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>