@model GpusViewModel

@{
    ViewData["Title"] = "- GPUs";
}

<h4 style="padding-top: 10px;">Gpu - Details</h4>
<hr/>
<div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@("/Images/UserUploads/" + Model.ImageName)" class="img-fluid rounded-start">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model.FullGpuName</h5>
                    <p class="card-text">@Model.Description</p>
                    @Model.MemorySizeInGb | @Model.PriceInDollars | @Model.ReleaseDate | @Model.TdpInWatts
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>