@model IEnumerable<GpusViewModel>

@{
    ViewData["Title"] = "- GPUs";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Filter" method="post">
    <div class="row p-2 rounded-3" style="background-color: #ccc">
        <div class="col"><input name="Name" class="form-control" placeholder="Name" /></div>
        <div class="col"><select name="ModelId" class="form-control" asp-items="ViewBag.ModelId"></select></div>
        <div class="col"><input name="" class="form-control" placeholder="Memory Size" /></div>
        <div class="col"><input name="" class="form-control" placeholder="Minimum TDP" /></div>
        <div class="col"><input name="" class="form-control" placeholder="Maximum TDP" /></div>
        <div class="col"><input name="" class="form-control" placeholder="Minimum Price" /></div>
        <div class="col"><input name="" class="form-control" placeholder="Maximum Price" /></div>
        <div class="col">
            <input type="submit" value="Search" class="btn btn-primary" />
            <button asp-action="Index" class="btn btn-danger">Clear Filters</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Image Preview
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullGpuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TdpInWatts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceInDollars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemorySizeInGb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <img src="~/Images/UserUploads/@item.ImageName" width="48" height="48" style="border: 1px solid" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullGpuName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cores)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TdpInWatts)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceInDollars)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemorySizeInGb)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
